IAT.Core/Models/Schemas/Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="XMLSchema1"
    targetNamespace="http://tempuri.org/XMLSchema1.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema1.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:complexType name="AlternationGroup">
		<xs:sequence>
			<xs:element name="URI" type="xs:anyURI"  />
			<xs:element name="GroupIds" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="GroupMemberRelIds" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="GroupID" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
